.banner-principal .tarjeta
  background-image: url('../assets/curso/portada/fondo-banner-principal-mobile.png') !important

@media (min-width: 426px)
  .banner-principal .tarjeta
    background-image: url('../assets/curso/portada/fondo-banner-principal-tablet.png') !important
    padding-right: 130px

@media (min-width: 769px)
  .banner-principal .tarjeta
    padding-right: 0
    overflow: hidden

@media (min-width: 1023px)
  .banner-principal .tarjeta
    background-image: url('../assets/curso/portada/fondo-banner-principal.png') !important

.banner-principal-decorativo
  &-1
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 80%
    left: 0
    width: 200px
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 0
    right: 10px
    width: 100px

.banner-principal__row 
  .banner-principal__img
    width: 400px
    padding-bottom: 0 !important

@media (min-width: 1025px)
  .banner-principal__row .banner-principal__img
    width: 470px

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)
  
  
.banner-interno__fondo 
  background-image: url('../assets/curso/portada/banner-interno.png') !important


.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important   

figcaption
  font-weight: normal

//Estilos para los temas

@media(min-width: 426px)
  .p-decorado-izq
    padding-left: 100px
    position: relative
    &::before
      content: url('../assets/curso/temas/tema1/1.svg')
      position: absolute
      top: 10px
      left: 0

.quote-simple
  padding: 25px

.tarjeta-con-image-header
  border-radius: 23px
  overflow: hidden
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25)

.tarjeta-con-image-header__contenido
  padding: 20px 25px

.banana-title
  font-size: 1.25rem
  position: relative
  display: inline-block
  padding: 13px 20px 11px 54px
  background-repeat: no-repeat
  background-position: left center
  &--1
    background-image: url('../assets/curso/temas/tema1/7.svg')
  &--2
    background-image: url('../assets/curso/temas/tema1/16.svg')

.factores-slider, .custom-slider
  &__icon 
    max-height: 93px
  
  &__title-wrapper
    text-align: center

  &__title
    background-color: #93AD5F
    color: white
    display: inline-block
    padding: 2px 60px
    margin: 1rem auto

  &__number
    color: $color-secundario
    font-size: 30px
    
    &.color-acento-contenido
      color: $color-acento-contenido
      margin-bottom: 10px

  .slyder-f
    align-items: center
    justify-content: center

  .slyder-f__main
    width: 80%

  .slyder-f__btn
    height: 42px
    width: 42px
    min-width: 42px
    background-color: $color-terciario
    border-radius: 50%
    padding: 0 !important
    .fa-chevron-left
      font-size: 1.5rem
    .fa-chevron-right
      font-size: 1.5rem
    &.ps-3
      margin-left: 7px
    &.pe-3
      margin-right: 7px

.custom-slider
  &__tarjeta
    position: relative
    overflow: visible
    &--1::before
      position: absolute
      content: url('../assets/curso/temas/tema1/18.svg')
      top: -80px
      left: 50%
      transform: translateX(-50%)
    &--2::before
      position: absolute
      content: url('../assets/curso/temas/tema1/19.svg')
      top: -80px
      left: 50%
      transform: translateX(-50%)
    &--3::before
      position: absolute
      content: url('../assets/curso/temas/tema1/20.svg')
      top: -80px
      left: 50%
      transform: translateX(-50%)
    &--4::before
      position: absolute
      content: url('../assets/curso/temas/tema1/21.svg')
      top: -80px
      left: 50%
      transform: translateX(-50%)
    &--5::before
      position: absolute
      content: url('../assets/curso/temas/tema1/22.svg')
      top: -80px
      left: 50%
      transform: translateX(-50%)
    &--6::before
      position: absolute
      content: url('../assets/curso/temas/tema3/20.svg')
      top: -80px
      left: 50%
      transform: translateX(-50%)
    &--7::before
      position: absolute
      content: url('../assets/curso/temas/tema3/21.svg')
      top: -80px
      left: 50%
      transform: translateX(-50%)
    &--8::before
      position: absolute
      content: url('../assets/curso/temas/tema3/22.svg')
      top: -80px
      left: 50%
      transform: translateX(-50%)
    &--9::before
      position: absolute
      content: url('../assets/curso/temas/tema3/23.svg')
      top: -80px
      left: 50%
      transform: translateX(-50%)
    &--10::before
      position: absolute
      content: url('../assets/curso/temas/tema3/24.svg')
      top: -80px
      left: 50%
      transform: translateX(-50%)
    &--11::before
      position: absolute
      content: url('../assets/curso/temas/tema3/25.svg')
      top: -80px
      left: 50%
      transform: translateX(-50%)
    &--12::before
      position: absolute
      content: url('../assets/curso/temas/tema3/26.svg')
      top: -80px
      left: 50%
      transform: translateX(-50%)
    &--13::before
      position: absolute
      content: url('../assets/curso/temas/tema3/27.svg')
      top: -80px
      left: 50%
      transform: translateX(-50%)
    

  .slyder-f__slyde
    padding-top: 80px


@media (min-width: 1025px)
  .factores-slider
    .slyder-f
      justify-content: space-between
    .slyder-f__main
      width: 84%

.custom-slider-a-b
  background-image: url('../assets/curso/temas/tema3/bg-slyder.png')
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  padding: 10px 15px

  .slyder-a__btn--sigt, .slyder-a__btn--atrs
    background-color: $color-terciario

  .slyder-a__bullets
    .slyder-a__bullets__item
      background-color: #A1C0B2
      border-color: #A1C0B2

      &--active
        background-color: $color-primario
        border-color: $color-primario

@media (min-width: 770px)
  .custom-slider-a-b
    padding: 20px 30px 0px

  .custom-slider-a-b__item
    padding: 10px 20px 5px

@media (min-width: 1025px)
  .custom-slider-a-b
    padding-bottom: 20px
  .custom-slider-a-b__item
    padding: 50px 84px 30px


.acordion__accion__btn--a
  background-color: $color-terciario

// Width
.width-93
  width: 93px
  margin: 0 auto

.width-110
  width: 110px
  margin: 0 auto
  
// Tabla

.tabla-d
  border-collapse: collapse
  overflow-x: auto
  box-shadow: none

  thead
    background-color: $color-terciario
    th
      padding: 15px 20px
      font-size: 18px
      font-weight: 700
      text-align: center
  
  td, th 
    border: 1px solid $color-primario
    padding: 15px 20px
    text-align: start
  
//Checklist

.check-list
  ul
    margin-bottom: 0
  li
    margin-left: 20px
    position: relative
    &::before
      content: url('../assets/curso/temas/tema4/4.svg')
      position: absolute
      left: -20px
      top: 0

.hr-continuo 
  border-color: #AFAFAF
  background: transparent
  margin-bottom: 16px
  margin-top: 16px
  opacity: 1

.tabs-residuos
  .tabs-b__header
    margin-bottom: 2rem !important
  .tabs-b__tab
    background-color: #FCFCFC
    border-bottom: 3px solid #E8E8E8
    border-right: 3px solid #E8E8E8
    transition: border 0.3s ease-in-out

    &.tabs-b__tab--active
      border-bottom: none
  
  .tabs-b__tab__icon
    img 
      height: 50px

.banana-tabs-a
  margin-bottom: 0 !important
  .tabs-a__tab
    margin-bottom: 10px !important
    background-color: #F5F5F5
    &:hover
      background-color: $color-terciario
    &::before
      background-color: $color-terciario
    &__selected
      background-color: $color-terciario
      

  .tabs-a__content-item
    height: 100%

  &__tarjeta
    display: flex
    flex-direction: column
    gap: 3px
    justify-content: center

.square-card
  padding: 2rem
  border-radius: 21px
  width: 100%
  display: flex
  flex-direction: column
  gap: 21px
  justify-content: center
  align-items: center
  margin-bottom: 1rem

  &__img
    width: 172px

.bg-platanos-image
  background-image: url('../assets/curso/temas/tema3/39.svg')
  background-repeat: no-repeat
  background-position: center
  background-size: cover

.retos-items
  &__card
    padding: 16px 30px 16px 100px
    border-radius: 21px
    margin-left: 20px
    width: 100%
    position: relative
    &--1::before
      content: url('../assets/curso/temas/tema2/2.svg')
      position: absolute
      top: 50%
      left: 35px
      transform: translate(-50%, -45%)
    &--2::before
      content: url('../assets/curso/temas/tema2/3.svg')
      position: absolute
      top: 50%
      left: 35px
      transform: translate(-50%, -45%)
    &--3::before
      content: url('../assets/curso/temas/tema2/4.svg')
      position: absolute
      top: 50%
      left: 35px
      transform: translate(-50%, -45%)


.time-line-info
  .tarjeta
    background-color: #FFF
    position: relative

    p 
      margin-bottom: 0

  &__number
    position: absolute
    bottom: 10px
    right: 10px
    color: $color-secundario
    font-size: 37px
    font-weight: bold

.bg-icontec
  background-image: url('../assets/curso/temas/tema2/bg-icontec.svg')
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  border-radius: 20px 0 20px 0

.bg-sanitaria
  height: 100%
  position: absolute
  background-image: url('../assets/curso/temas/tema1/bg-seccion.png')
  width: 100%
  top: 0


.m-footer
  margin-bottom: 6rem
